/*TABLA*/

.Consultar-Producto{
    display: grid;
    grid-template-columns: auto;
  }
  
  .table{
    border-collapse: collapse;
    margin: 25px 5px;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: block;
    overflow-y: scroll;
    height: 700px;
    border-radius: 4px 2px;
  }

  .table.table-entradas,.table.table-salidas{
    height: 700px;
  }

  .table.table-entradas th,
  .table.table-entradas td,
  .table.table-salidas th,
  .table.table-salidas td{
    width: 1%;
  }
  
  .table::-webkit-scrollbar{
    width: 5px;
    color: #ffffff;
  }
  
  .table::-webkit-scrollbar-track {
    background: #ffffff;;
  }
  
  .table::-webkit-scrollbar-thumb{
    background: #009879;
    border-radius: 5px;
  }
  
  .table thead tr {
    background-color: #009879;
    color: #ffffff;
  }
  
  .table tbody tr th .bx-x{
    font-size:35px;
    color: red;
    margin-left: 11%;
  }
  
  .table tbody tr th .bxs-edit{
    font-size:35px;
    color: chartreuse;
  }
  
  .table tbody tr th .bx-x:hover, .table tbody tr th .bxs-edit:hover{
    cursor: pointer;
    opacity: 0.5;
  }
  
  .table tbody tr th .bx-x:active, .table tbody tr th .bxs-edit:active{
    opacity: 1;
  }
  
  .table th,
  .table td {
      padding: 12px 15px;
      width: 24%;
  }
  
  .table td {
    height: 10px;
  }
  
  .table tbody tr {
    border-bottom: thin solid #dddddd;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  /* TABLAS ENTRADAS */

  .Consultar-entradas{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }

  .Consultar-entradas .tabla-entrada{
    display: grid;
    grid-column: 1/2;
  }

  .Consultar-entradas .tabla-salida{
    display: grid;
    grid-column: 2/3;
  }

  .Consultar-entradas .menu-section-salida{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  .Consultar-entradas .menu-section-salida .current-section{
    border: solid black;
    border-width: 0px 0px 2px 0px;
    align-items: center;
    justify-items: center;
    padding-bottom: 1px;
  }

  /* BOTONES TABLA */

.btn-editar,.bx-x .btn-eliminar{
  font-size: 0.7em;
  font-family: 'Poppins', sans-serif;
}

.btn-editar{
  align-self: center;
  font-size: 1.3em;
  color: chartreuse;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.btn-eliminar{
  align-self: center;
  font-size: 1.3em;
  color: red;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.botones-direc{
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.botones-direc:hover{
  opacity: 0.5;
}

.botones-direc:active{
  opacity: 1;
}

/* REGISTRO DE ENTRADAS Y SALIDAS */

.Registrar{
  font-size:1.2em;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  margin-top:-1%;
  margin-left: 2%;
  background: #009879;
  border-radius: 3px 4px;
  cursor: pointer;
  padding: 0 4px;
  transition: all 0.3s ease;
}

.Registrar:hover{
  font-weight: 500;
  background: rgba(0, 152, 122, 0.638);
}

.Registrar:active{
  background: #009879;
}

.productDescript{
  width: 100%;
  font-family: 'Poppins', sans-serif; 
  font-size: 1.5em;
  padding: 5px;
}

.bxs-book-content{
  font-size: 35px;
  color: chartreuse;
}

.bxs-edit-alt{
  font-size: 25px;
  color: chartreuse;
}

.bxs-edit-alt span{
  font-size: 25px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.actionsContent{
  padding-bottom: 5px;
  display: flex;
  justify-content: end;
}

#editTextAreaBtn:hover{
  opacity: .7;
}

#editTextAreaBtn:active{
  opacity: 1;
}