<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/Github MarCaribe/Portal-Web-Mar-Caribe-Center/mvcPortalWeb/Assets/styles/Sistema/login.css" rel="stylesheet" type="text/css">
    <link href="boxicons-2.1.1/css/animations.css" rel="stylesheet" type="text/css">
    <link href="boxicons-2.1.1/css/boxicons.css" rel="stylesheet" type="text/css">
    <link href="boxicons-2.1.1/css/boxicons.min.css" rel="stylesheet" type="text/css">
    <link href="boxicons-2.1.1/css/transformations.css" rel="stylesheet" type="text/css">
</head>
    <body>
        <div class="fondo">
        </div>
        <div class="login">
            <form action="" class="form">
                <img src="/Github MarCaribe/Portal-Web-Mar-Caribe-Center/mvcPortalWeb/Assets/img/Logo/Logo.png">
                <h2>Inicio de sesión</h2>
                <div class="form-content">
                  <div class="form-group">
                    <input type="text" class="form-input" placeholder=" ">
                    <label for="" class="form-label" type="text">Usuario:</label>
                    <span class="form-line"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" placeholder=" ">
                    <label for="" class="form-label" type="number">Contraseña:</label>
                    <span class="form-line"></span>
                </div>
                  <input type="submit" class="form-btn" value="Iniciar Sesión">
                </div>  
            </form>
        </div>  
    </body>
</html>