/*MENÚ*/

.Dashboard{
    display: grid;
    grid-template-columns: 250px 250px auto auto;
    grid-template-rows: auto;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}
  
/* Display-Usuarios */
  
.Dashboard .Sistema-Usuarios{
  display: grid;
  grid-column: 2/3;
  grid-template-rows: 20px auto auto;
  grid-template-columns: auto auto;
  margin: 9px 0px 0px 9px;
  background-color: yellow;
  border-radius: 5px;
  box-shadow: 4px 4px;
}

.Dashboard .Sistema-Usuarios h3{
  justify-self: center;
  grid-row: 1/3;
  grid-column: 1/2;
  line-height: 20px;
  font-size: 35.2px;
  padding: 10px;
}

.Dashboard .Sistema-Usuarios .text{
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: end;
  margin-bottom: 3%;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.Dashboard .Sistema-Usuarios .bx-user{
  padding: 0;
  margin: 0;
  font-size: 65px;
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: right;
  padding: 10px;
  padding-right: 0px;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-Usuarios a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 1/3;
  background:rgba(148, 148, 1, 0.76);
  padding: 5px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-Usuarios a:hover{
  background:rgb(148, 148, 7);
}

.Dashboard .Sistema-Usuarios:hover .bx-user{
  font-size: 70px;
}

/*Display-Producto*/

.Dashboard .Sistema-Productos{
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-rows: 20px auto auto;
  grid-template-columns: auto auto;
  margin: 9px 0px 0px 9px;
  background: rgba(23, 166, 248, 0.664);
  border-radius: 5px;
  box-shadow: 4px 4px;
}

.Dashboard .Sistema-Productos h3{
  justify-self: center;
  grid-row: 1/3;
  grid-column: 1/2;
  line-height: 20px;
  font-size: 35.2px;
  padding: 10px;
}

.Dashboard .Sistema-Productos .text{
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: end;
  margin-bottom: 3%;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.Dashboard .Sistema-Productos .bx-basket{
  padding: 0;
  margin: 0;
  font-size: 65px;
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: right;
  padding: 10px;
  padding-right: 0px;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-Productos a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 1/3;
  background: rgba(0, 94, 189, 0.5);
  padding: 5px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-Productos a:hover{
  background: rgb(0, 94, 189,1);
}

.Dashboard .Sistema-Productos:hover .bx-basket{
  font-size: 70px;
}

/* Visitas */

.Dashboard .Sistema-Visitas{
  display: grid;
  grid-column: 1/2;
  grid-row: 2/2;
  grid-template-rows: 20px auto auto;
  grid-template-columns: auto auto;
  margin: 9px 0px 0px 9px;
  background: rgb(14, 228, 14);
  border-radius: 5px;
  box-shadow: 4px 4px;
}

.Dashboard .Sistema-Visitas.Totales{
  grid-column: 1/2;
  grid-row: 1/2;
  background: rgb(110, 228, 14);
}

.Dashboard .Sistema-Visitas.Totales .bx-show{
  margin: 0;
  font-size: 70px;
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: center;
  padding: 10px;
  padding-right: 10px;
  padding-right: 0px;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-Visitas.Totales .bx-show:hover{
  font-size: 75px;
}

.Dashboard .Sistema-Visitas h3{
  justify-self: center;
  grid-row: 1/3;
  grid-column: 1/2;
  line-height: 20px;
  font-size: 35.2px;
  padding: 10px;
}

.Dashboard .Sistema-Visitas .text{
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: end;
  margin-bottom: 3%;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.Dashboard .Sistema-Visitas .bx-pointer{
  padding: 0;
  margin: 0;
  font-size: 70px;
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: center;
  padding: 10px;
  padding-right: 0px;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-Visitas a:hover{
  background: rgb(0, 94, 189,1);
}

.Dashboard .Sistema-Visitas:hover .bx-pointer{
  font-size: 75px;
}

/* Ofertas */

.Dashboard .Sistema-ofertas{
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  grid-template-rows: 20px auto auto;
  grid-template-columns: auto auto;
  margin: 9px 0px 0px 9px;
  background-color: rgb(224, 66, 3);
  border-radius: 5px;
  box-shadow: 4px 4px;
}

.Dashboard .Sistema-ofertas h3{
  justify-self: center;
  grid-row: 1/3;
  grid-column: 1/2;
  line-height: 20px;
  font-size: 35.2px;
  padding: 10px;
}

.Dashboard .Sistema-ofertas .text{
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: end;
  margin-bottom: 3%;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.Dashboard .Sistema-ofertas .bx-purchase-tag{
  padding: 0;
  margin: 0;
  font-size: 65px;
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: center;
  padding: 10px;
  padding-right: 0px;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-ofertas a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 1/3;
  background:rgba(189, 66, 17, 0.692);
  padding: 5px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-ofertas a:hover{
  background:rgb(189, 66, 17);
}

.Dashboard .Sistema-ofertas:hover .bx-purchase-tag{
  font-size: 70px;
}

/*Display-Producto*/

.Dashboard .Sistema-Productos{
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-rows: 20px auto auto;
  grid-template-columns: auto auto;
  margin: 9px 0px 0px 9px;
  background: rgba(23, 166, 248, 0.664);
  border-radius: 5px;
  box-shadow: 4px 4px;
}

.Dashboard .Sistema-Productos h3{
  justify-self: center;
  grid-row: 1/3;
  grid-column: 1/2;
  line-height: 20px;
  font-size: 35.2px;
  padding: 10px;
}

.Dashboard .Sistema-Productos .text{
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: end;
  margin-bottom: 3%;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.Dashboard .Sistema-Productos .bx-basket{
  padding: 0;
  margin: 0;
  font-size: 65px;
  grid-row: 1/3;
  grid-column: 2/3;
  text-align: right;
  padding: 10px;
  padding-right: 0px;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-Productos a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 1/3;
  background: rgba(0, 94, 189, 0.5);
  padding: 5px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  transition: all 0.4s ease;
}

.Dashboard .Sistema-Productos a:hover{
  background: rgb(0, 94, 189,1);
}

.Dashboard .Sistema-Productos:hover .bx-basket{
  font-size: 70px;
}

/* Informacion */

.Dashboard .Sistema-Informacion{
  display: grid;
  grid-column: 3/5;
  grid-row: 1/3;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto;
  margin: 9px 9px 0px 9px;
  background: rgba(23, 166, 248, 0.664);
  border-radius: 5px;
  box-shadow: 4px 4px;
}

.Dashboard .Sistema-Informacion span{
  text-align: center;
  grid-row: 1/2;
  grid-column: 1/3;
  line-height: 20px;
  font-size: 30px;
  padding: 10px;
}

.Dashboard .Sistema-Informacion span{
  justify-self: center;
  grid-row: 1/2;
  grid-column: 1/3;
  line-height: 20px;
  font-size: 30px;
  padding: 10px;
  border:solid black;
  border-width: 0px 0px 2px 0px;
}

.Dashboard .Sistema-Informacion .text-1,
.Dashboard .Sistema-Informacion .text-2,
.Dashboard .Sistema-Informacion .text-3{
  align-self: end;
  margin-bottom: 3%;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border:solid black;
  border-width: 0px 0px 2px 0px;
}

.Dashboard .Sistema-Informacion .text-1{
  grid-row: 2/3;
  grid-column: 1/4;
}

.Dashboard .Sistema-Informacion .text-2{
  grid-row: 3/4;
  grid-column: 1/4;
}

.Dashboard .Sistema-Informacion .text-3{
  grid-row: 4/5;
  grid-column: 1/4;
}

.Dashboard .Sistema-Informacion .bxs-user-detail{
  padding: 0;
  margin: 0;
  font-size: 50px;
  grid-column: 3/4;
  grid-row: 1/3;
  padding: 10px;
  padding-right: 0px;
  transition: all 0.4s ease;
  background-color: red;
  height: 50px;
  border-radius: 5px 5px 0 5px;
}

/* INFORMACIÓN USUARIO */

.form-infouser1{
  grid-column: 1/4;
  border-width: 0px 0px 2px 0px;
  text-align: center;
}

.Dashboard .Sistema-Informacion .info-user1{
  align-self: end;
  margin-bottom: 3%;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border:0px;
  margin-bottom: 3%;
}
.form-infouser1 input{
  margin-bottom: 3%;
  padding: 5px;
  width: 50%;
}
.button-confirm, .button-confirm2{
  margin-left: 2%;
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 50%;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0px;
  display: none;
}
.button-confirm:hover,.button-confirm2:hover{
  background-color: white;
  color: #4CAF50;
  cursor: pointer;
}
.button-confirm:active,.button-confirm2:active{
  background-color: #4CAF50;
  color: white;
}
.bx-check-circle{
  font-size: 24px;
}
.bx-edit-alt{
  color: rgb(224, 66, 3);
  font-size: 24px;
}
.bx-edit-alt:hover{
  cursor: pointer;
  color: rgb(224, 90, 3);
}
.bx-edit-alt:active{
  color: rgb(224, 66, 3);
}
.button-confirm.show,.button-confirm2.show{
  display: inline-block;
}
.bx-x-circle{
  color: rgb(224, 66, 3);
  font-size: 24px;
  background-color: white;
  border-radius: 50%;
}
.bx-x-circle:hover{
  cursor: pointer;
  color: rgb(224, 90, 3);
}
.bx-x-circle:active{
  color: rgb(224, 66, 3);
}

.btn-success.bx-wrench{
  margin-left: 20px;
}

#btnConfirm > .bx-check-circle,
#btnConfirm2 > .bx-check-circle{
  font-size: 16px;
}