/* FORMULARIO AGREGAR PRODUCTOS */

.Registrar-producto, .Registrar-usuario,.Registrar-entrada{
    display: flex;
    justify-content: end;
    margin-top: 3%;
  }

  .Registrar-usuario.center{
    justify-content: center;
  }

  .Registrar-producto.center{
    justify-content: center;
  }

  
  .Registrar-producto .form{
    width: 90%;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
    padding: 4.5em 6em;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px;
    text-align: center;
    margin-right: 5%;
  }

  .Registrar-producto .form.product .requireInputs{
    text-align: left;
  }

  .form .form-content{
    display: grid;
    gap:2.5em;
  }

  .form .form-content .form-group{
    position: relative;
    --color: #5757577e;
    text-align: center;
  }

  .form .form-content .form-group.formulario__grupo-incorrecto{
    color: #bb2929;
  }

  .form .form-content .form-group.formulario__grupo-incorrecto .form-input:focus + .form-label,
  .form-group.formulario__grupo-incorrecto .form-input:not(:placeholder-shown) + .form-label{
    color: #bb2929;
  }

  .form .form-content .form-group .form-input{
    width: 100%;
    background: none;
    padding: .6em .3em;
    font-size: 1rem;
    border: none;
    outline: none; 
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid var(--color);
  }

  .form .form-content .form-group .form-label{
    color: var(--color);
    cursor: pointer; 
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
  }

  .form .form-content .form-group .form-input:focus + .form-label,
  .form-group .form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
  }

  .form .form-content .form-btn{
    background-color: #3866f2;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border:none;
    border-radius: .5em;
    width: 100%;
    cursor: pointer;
  }

  .form .form-content .form-group .form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 102%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
  }

  .form .form-content .form-group.formulario__grupo-incorrecto .form-line{
    top: 44px;
    background-color: #bb2929;
  }
  
  .form .form-content .form-group .form-input:focus ~ .form-line,
  .form .form-content .form-group .form-input:not(:first-child) ~ .form-line{
    transform: scale(1);
  }

  .form .form-content .form-group .form-label.categoria{
    margin-top: -10%;
    display: flex;
  }

  .form .form-content .form-group .form-label.categoria.edit{
    margin-top: -10%;
  }

  .form .form-content .form-group .form-label > .form-select{ 
    color: black;
    padding: .5em 1em;
    margin-top: -10%;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border: none;
  }

  .form .form-content .form-group .form-label > .form-select:focus{ 
    border: thin solid blue;
  }

  .form .form-content .form-group .form-label .form-select{ 
    margin-left: 5%;
  }

  .bx-show,.bx-low-vision{
    position: absolute;
    font-size: 25px;
    margin-left: -7%;
    margin-top: 2%;
    cursor: pointer;
  }

  .form .form-content .form-btn:hover{
    background-color: #0b47fd;
  }
  .form .form-content .form-btn:active{
    background-color: #3866f2;
  }

  .form .form-content .form-btn.disabled{
    background-color: #8da9fc;
    cursor: default;
  }

  .edtProductImg{
    box-shadow: 0 5px 10px 0px;
    margin-top: 2%;
    width: 100%;
  }

  .img-container{
    width: 250px;
    align-self: center;
  }

  .container-title{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: solid black;
    border-width: 0px 0px 2px 0px;
  }