/* MODALES (VENTANA EMERGENTE) */

#btn-modal-eliminar{
    display: none;
  }
  
  .Consultar-Producto .modal-delete{
    position: fixed;
    background-color: rgb(51,51,51,0.5);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
  }
  
  #btn-modal-eliminar:checked ~ .modal-delete{
    z-index: 1;
    display: flex;
  }
  
  .Consultar-Producto .modal-delete .modal-contenedor{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    padding: 2.5em 1.5em;
    border-radius: 1em;
  }
  
  .Consultar-Producto .modal-delete .modal-contenedor h2{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
  .Consultar-Producto .modal-delete .modal-contenedor .bxs-x-circle{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 150px;
    color: rgb(206, 21, 21);
  }
  
  .Consultar-Producto .modal-delete .modal-contenedor .botones{
    display: flex;
    justify-content: space-evenly;
  }
  
  .Consultar-Producto .modal-delete .modal-contenedor p{
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
  }
  .Consultar-Producto .modal-delete .modal-contenedor a,
  .Consultar-Producto .modal-delete .modal-contenedor label,
  .Consultar-Producto .modal-delete .modal-contenedor label{
    font-family: 'Poppins', sans-serif;
    border: thin solid rgb(206, 21, 21);
    background-color: rgb(206, 21, 21,0.8);;
    border-radius: 4px 4px;
    width: auto;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 5%;
    padding: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .Consultar-Producto .modal-delete .modal-contenedor .confirmar{
    border: thin solid  rgb(14, 219, 219);
    background-color: rgb(14, 219, 219,0.8);
  }
  .Consultar-Producto .modal-delete .modal-contenedor .confirmar:hover{
    background-color: rgb(14, 219, 219);
  }
  .Consultar-Producto .modal-delete .modal-contenedor .confirmar:active{
    background-color: rgb(14, 219, 219,0.8);
  }
  .Consultar-Producto .modal-delete .modal-contenedor label:hover{
    background-color: rgb(206, 21, 21);
  }
  .Consultar-Producto .modal-delete .modal-contenedor label:active{
    background-color: rgb(206, 21, 21,0.8);
  }
  
  @media (max-width:600px){
    .Consultar-Producto .modal-delete{
      left: 15%;
    }
    .Consultar-Producto .modal-delete .modal-contenedor p{
      font-size: 1rem;
    }
    .Consultar-Producto .modal-delete .modal-contenedor .bxs-x-circle{
      font-size: 100px;
    }
    .Consultar-Producto .modal-delete .modal-contenedor a{
      font-size: 1rem;
    }
  }
  
  /* MODAL EDITAR */
  
  #btn-modal-edit, #btn-modal-edit-user, #btn-modal-descripción,#btn-modal-user,#btn-modal-historial{
    display: none;
  }
  
  .Consultar-Producto .modal-edit,
  .Consultar-Producto .modal-descripción,
  .Consultar-usuario .modal-edit,
  .Consultar-usuario .modal-user,
  .Consultar-usuario .modal-history{
    position: fixed;
    background-color: rgb(51,51,51,0.5);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
    box-sizing: border-box;
  }
  
  #btn-modal-edit:checked ~ .modal-edit,
  #btn-modal-edit-user:checked ~ .modal-edit,
  #btn-modal-descripción:checked ~ .modal-descripción,
  #btn-modal-user:checked ~ .modal-user,
  #btn-modal-historial:checked ~ .modal-history{
    z-index: 1;
    display: flex;
  }
  
  .Consultar-Producto .modal-edit .modal-contenedor,
  .Consultar-Producto .modal-descripción .modal-contenedor,
  .Consultar-usuario .modal-edit .modal-contenedor,
  .Consultar-usuario .modal-user .modal-contenedor,
  .Consultar-usuario .modal-history .modal-contenedor{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    padding: 0 1.5em 2.5em 1.5em;
    border-radius: 1em;
  }
  
  .Consultar-Producto .modal-edit .modal-contenedor h2,
  .Consultar-Producto .modal-descripción .modal-contenedor h2,
  .Consultar-usuario .modal-edit .modal-contenedor h2,
  .Consultar-usuario .modal-user .modal-contenedor h2,
  .Consultar-usuario .modal-history .modal-contenedor h2{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
  .Consultar-Producto .modal-edit .modal-contenedor .bxs-x-circle,
  .Consultar-Producto .modal-descripción .modal-contenedor .bxs-x-circle,
  .Consultar-usuario .modal-edit .modal-contenedor .bxs-x-circle,
  .Consultar-usuario .modal-user .modal-contenedor .bxs-x-circle,
  .Consultar-usuario .modal-history .modal-contenedor .bxs-x-circle{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 150px;
    color: rgb(206, 21, 21);
  }
  
  .Consultar-Producto .modal-edit .modal-contenedor p,
  .Consultar-Producto .modal-descripción .modal-contenedor p,
  .Consultar-usuario .modal-edit .modal-contenedor p,
  .Consultar-usuario .modal-user .modal-contenedor p,
  .Consultar-usuario .modal-history .modal-contenedor p{
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
  }
  .Consultar-Producto .modal-edit .modal-contenedor a,
  .Consultar-Producto .modal-edit .modal-contenedor .denegar,
  .Consultar-Producto .modal-descripción .modal-contenedor a,
  .Consultar-Producto .modal-descripción .modal-contenedor .denegar,
  .Consultar-usuario .modal-edit .modal-contenedor .denegar,
  .Consultar-usuario .modal-edit .modal-contenedor a,
  .Consultar-usuario .modal-user .modal-contenedor .denegar,
  .Consultar-usuario .modal-user .modal-contenedor a,
  .Consultar-usuario .modal-history .modal-contenedor .denegar,
  .Consultar-usuario .modal-history .modal-contenedor a{
    font-family: 'Poppins', sans-serif;
    border-radius: 4px 4px;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(155, 13, 13);
    text-decoration: none;
    cursor: pointer;
  }
  .Consultar-Producto .modal-edit .modal-contenedor .denegar,
  .Consultar-usuario .modal-edit .modal-contenedor .denegar,
  .Consultar-Producto .modal-descripción .modal-contenedor .denegar,
  .Consultar-usuario .modal-user .modal-contenedor .denegar,
  .Consultar-usuario .modal-history .modal-contenedor .denegar{
    overflow: hidden;
    box-sizing: border-box;
    font-size: 45px;
    position: absolute;
    margin-left:44%;
   }
  .Consultar-Producto .modal-edit .modal-contenedor .confirmar,
  .Consultar-usuario .modal-edit .modal-contenedor .confirmar,
  .Consultar-usuario .modal-user .modal-contenedor .confirmar{
    border: thin solid  rgb(14, 219, 219);
    background-color: rgb(14, 219, 219,0.8);
  }
  .Consultar-Producto .modal-edit .modal-contenedor .confirmar:hover,
  .Consultar-Producto .modal-descripción .modal-contenedor .confirmar:hover,
  .Consultar-usuario .modal-edit .modal-contenedor .confirmar:hover,
  .Consultar-usuario .modal-user .modal-contenedor .confirmar:hover{
    background-color: rgb(14, 219, 219);
  }
  .Consultar-Producto .modal-edit .modal-contenedor .confirmar:active,
  .Consultar-Producto .modal-descripción .modal-contenedor .confirmar:active,
  .Consultar-usuario .modal-edit .modal-contenedor .confirmar:active,
  .Consultar-usuario .modal-user .modal-contenedor .confirmar:active{
    background-color: rgb(14, 219, 219,0.8);
  }
  .Consultar-Producto .modal-edit .modal-contenedor .denegar:hover,
  .Consultar-Producto .modal-descripción .modal-contenedor .denegar:hover,
  .Consultar-usuario .modal-edit .modal-contenedor .denegar:hover,
  .Consultar-usuario .modal-user .modal-contenedor .denegar:hover,
  .Consultar-usuario .modal-history .modal-contenedor .denegar:hover{
    color: rgb(206, 21, 21);
  }
  .Consultar-Producto .modal-edit .modal-contenedor .denegar:active,
  .Consultar-usuario .modal-edit .modal-contenedor .denegar:active,
  .Consultar-usuario .modal-user .modal-contenedor .denegar:active,
  .Consultar-usuario .modal-history .modal-contenedor .denegar:active{
    color: rgb(206, 21, 21,0.8);
  }
  
  @media (max-width:600px){
    .Consultar-Producto .modal-edit,
    .Consultar-usuario .modal-edit{
      left: 15%;
    }
    .Consultar-Producto .modal-edit .modal-contenedor p,
    .Consultar-usuario .modal-edit .modal-contenedor p{
      font-size: 1rem;
    }
    .Consultar-Producto .modal-edit .modal-contenedor .bxs-x-circle,
    .Consultar-usuario .modal-edit .modal-contenedor .bxs-x-circle{
      font-size: 100px;
    }
    .Consultar-Producto .modal-edit .modal-contenedor a,
    .Consultar-usuario .modal-edit .modal-contenedor a{
      font-size: 1rem;
    }
  }

  /* CONSULTAR PRODUCTO - TEXTO */

  .Consultar-entradas{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .Consultar-entradas .tabla-entrada{
    display: grid;
    grid-column: 1/2;
  }

  .Consultar-entradas .tabla-salida{
    display: grid;
    grid-column: 2/3;
  }

  .Consultar-entradas .menu-section-salida{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  .Consultar-entradas .menu-section-salida .current-section{
    border: solid black;
    border-width: 0px 0px 2px 0px;
    align-items: center;
    justify-items: center;
    padding-bottom: 1px;
  }

  /* FORMULARIO MODIFICAR PRODUCTOS */
  /*
  .Consultar-Producto .modal-edit .modal-contenedor .Registrar-producto{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  
  .Consultar-Producto .modal-edit .modal-contenedor .Registrar-producto .form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    font-family: 'Poppins', sans-serif;
    padding: 4.5em 6em;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px;
    text-align: center;
  }

  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content{
    display: grid;
    gap:2.5em;
  }

  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content .form-group{
    position: relative;
    --color: #5757577e;
  }

  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content .form-group .form-input{
    width: 100%;
    background: none;
    padding: .6em .3em;
    font-size: 1rem;
    border: none;
    outline: none; 
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid var(--color);
  }

  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content .form-group .form-label{
    color: var(--color);
    cursor: pointer; 
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
  }

  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content .form-group .form-input:focus + .form-label,
  .Consultar-Producto .modal-edit .modal-contenedor .form-group .form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
  }

  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content .form-btn{
    background-color: #3866f2;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border:none;
    border-radius: .5em;
    cursor: pointer;
    width: 100%;
  }

  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content .form-group .form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
  }
  
  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content .form-group .form-input:focus ~ .form-line,
  .Consultar-Producto .modal-edit .modal-contenedor .form .form-content .form-group .form-input:not(:first-child) ~ .form-line{
    transform: scale(1);*/

  /* MODALES USUARIOS */

  /* MODAL ELIMINAR */

  .Consultar-usuario .modal-delete{
    position: fixed;
    background-color: rgb(51,51,51,0.5);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
  }
  
  .Consultar-usuario #btn-modal-eliminar-user{
    display: none;
  }
  
  .Consultar-usuario #btn-modal-eliminar-user:checked ~ .modal-delete{
    z-index: 1;
    display: flex;
  }
  
  .Consultar-usuario .modal-delete .modal-contenedor{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    padding: 2.5em 1.5em;
    border-radius: 1em;
  }
  
  .Consultar-usuario .modal-delete .modal-contenedor h2{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
  .Consultar-usuario .modal-delete .modal-contenedor .bxs-x-circle{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 150px;
    color: rgb(206, 21, 21);
  }
  
  .Consultar-usuario .modal-delete .modal-contenedor .botones{
    display: flex;
    justify-content: space-evenly;
  }
  
  .Consultar-usuario .modal-delete .modal-contenedor p{
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
  }
  .Consultar-usuario .modal-delete .modal-contenedor a,
  .Consultar-usuario .modal-delete .modal-contenedor label{
    font-family: 'Poppins', sans-serif;
    border: thin solid rgb(206, 21, 21);
    background-color: rgb(206, 21, 21,0.8);;
    border-radius: 4px 4px;
    width: auto;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 5%;
    padding: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .Consultar-usuario .modal-delete .modal-contenedor .confirmar{
    border: thin solid  rgb(14, 219, 219);
    background-color: rgb(14, 219, 219,0.8);
  }
  .Consultar-usuario .modal-delete .modal-contenedor .confirmar:hover{
    background-color: rgb(14, 219, 219);
  }
  .Consultar-usuario .modal-delete .modal-contenedor .confirmar:active{
    background-color: rgb(14, 219, 219,0.8);
  }
  .Consultar-usuario .modal-delete .modal-contenedor label:hover{
    background-color: rgb(206, 21, 21);
  }
  .Consultar-usuario .modal-delete .modal-contenedor label:active{
    background-color: rgb(206, 21, 21,0.8);
  }
  
  @media (max-width:600px){
    .Consultar-usuario .modal-delete{
      left: 15%;
    }
    .Consultar-usuario .modal-delete .modal-contenedor p{
      font-size: 1rem;
    }
    .Consultar-usuario .modal-delete .modal-contenedor .bxs-x-circle{
      font-size: 100px;
    }
    .Consultar-usuario .modal-delete .modal-contenedor a{
      font-size: 1rem;
    }
  }

  /* MODAL REGISTRAR ENTRADA */

  #btn-modal-entrada,#btn-modal-salida{
    display: none;
  }
  
  .Consultar-Producto .modal-entrada{
    position: fixed;
    background-color: rgb(51,51,51,0.5);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: none;
  }
  
  #btn-modal-entrada:checked ~ .modal-entrada,
  #btn-modal-salida:checked ~ .modal-entrada{
    z-index: 1;
    display: flex;
  }
  
  .modal-entrada .modal-contenedor{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    padding: 0 1.5em 2.5em 1.5em;
    border-radius: 1em;
  }
  
  .modal-entrada .modal-contenedor h2{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
  }
  
  .modal-entrada .modal-contenedor .bxs-x-circle{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 150px;
    color: rgb(206, 21, 21);
  }
  
  .modal-entrada .modal-contenedor p{
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
  }
  .modal-entrada .modal-contenedor .denegar,
  .modal-entrada .modal-contenedor a{
    font-family: 'Poppins', sans-serif;
    border-radius: 4px 4px;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(155, 13, 13);
    text-decoration: none;
    cursor: pointer;
  }
  .modal-entrada .modal-contenedor .denegar{
    overflow: hidden;
    box-sizing: border-box;
    font-size: 45px;
    position: absolute;
    padding-top: 1%;
    margin-left: 44%;
   }
  .modal-entrada .modal-contenedor .confirmar{
    border: thin solid  rgb(14, 219, 219);
    background-color: rgb(14, 219, 219,0.8);
  }
  .modal-entrada .modal-contenedor .confirmar:hover{
    background-color: rgb(14, 219, 219);
  }
  .modal-entrada .modal-contenedor .confirmar:active{
    background-color: rgb(14, 219, 219,0.8);
  }
  .modal-entrada .modal-contenedor .denegar:hover{
    color: rgb(206, 21, 21);
  }
  .modal-entrada .denegar:active{
    color: rgb(206, 21, 21,0.8);
  }
  
  @media (max-width:600px){
    .modal-entrada{
      left: 15%;
    }
    .modal-entrada .modal-contenedor p{
      font-size: 1rem;
    }
    .modal-entrada .modal-contenedor .bxs-x-circle{
      font-size: 100px;
    }
    .modal-entrada .modal-contenedor a{
      font-size: 1rem;
    }
  }

  /* MODAL FORMULARIO REGISTRAR ENTRADAS DE PRODUCTOS */

  .modal-contenedor .Registrar-Entrada{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  
  .modal-contenedor .Registrar-Entrada .form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    font-family: 'Poppins', sans-serif;
    padding: 4.5em 6em;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px;
  }

  .Registrar-Entrada .form .form-content{
    display: grid;
    gap:2.5em;
  }

  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group{
    position: relative;
    --color: #5757577e;
    text-align: center;
  }

  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group .form-input{
    width: 100%;
    background: none;
    padding: .6em .3em;
    font-size: 1rem;
    border: none;
    outline: none; 
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid var(--color);
  }

  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group input[type="date"], 
  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group input[type="time"]{
    background: none;
    padding: .6em .3em;
    font-size: 1rem;
    border: none;
    outline: none; 
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid var(--color);
  }

  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group .form-label{
    color: var(--color);
    cursor: pointer; 
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
  }

  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group .form-input:focus + .form-label,
  .Consultar-entradas .modal-entrada .modal-contenedor .form-group .form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
  }

  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-btn{
    background-color: #3866f2;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border:none;
    border-radius: .5em;
    cursor: pointer;
  }

  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group .form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 102%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
  }
  
  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group .form-input:focus ~ .form-line,
  .Consultar-entradas .modal-entrada .modal-contenedor .form .form-content .form-group .form-input:not(:first-child) ~ .form-line{
    transform: scale(1);
  }

/* MODAL SALIDA ENTRADA */

#btn-modal-salida{
  display: none;
}

.modal-salida{
  position: fixed;
  background-color: rgb(51,51,51,0.5);
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  display: none;
}

#btn-modal-salida:checked ~ .modal-salida{
  z-index: 1;
  display: flex;
}

.modal-salida .modal-contenedor{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  padding: 0 1.5em 2.5em 1.5em;
  border-radius: 1em;
}

.modal-salida .modal-contenedor h2{
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  padding-top: 1%;
}

.modal-salida .modal-contenedor .bxs-x-circle{
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 150px;
  color: rgb(206, 21, 21);
}

.modal-salida .modal-contenedor p{
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5px;
}
.modal-salida .modal-contenedor .denegar,
.modal-salida .modal-contenedor a{
  font-family: 'Poppins', sans-serif;
  border-radius: 4px 4px;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(155, 13, 13);
  text-decoration: none;
  cursor: pointer;
}
.modal-salida .modal-contenedor .denegar{
  overflow: hidden;
  box-sizing: border-box;
  font-size: 45px;
  position: absolute;
  padding-top: 1%;
  margin-left: 44%;
 }
.modal-salida .modal-contenedor .confirmar{
  border: thin solid  rgb(14, 219, 219);
  background-color: rgb(14, 219, 219,0.8);
}
.modal-salida .modal-contenedor .confirmar:hover{
  background-color: rgb(14, 219, 219);
}
.modal-salida .modal-contenedor .confirmar:active{
  background-color: rgb(14, 219, 219,0.8);
}
.modal-salida .modal-contenedor .denegar:hover{
  color: rgb(206, 21, 21);
}
.modal-salida .denegar:active{
  color: rgb(206, 21, 21,0.8);
}

@media (max-width:600px){
  .modal-salida{
    left: 15%;
  }
  .modal-salida .modal-contenedor p{
    font-size: 1rem;
  }
  .modal-salida .modal-contenedor .bxs-x-circle{
    font-size: 100px;
  }
  .modal-salida .modal-contenedor a{
    font-size: 1rem;
  }
}

/* MODAL FORMULARIO REGISTRAR ENTRADAS DE PRODUCTOS */

.modal-contenedor .Registrar-Salida{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}


.modal-contenedor .Registrar-Salida .form{
  margin: auto;
  width: 90%;
  max-width: 400px;
  font-family: 'Poppins', sans-serif;
  padding: 4.5em 6em;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px;
}

.Registrar-Salida .form .form-content{
  display: grid;
  gap:2.5em;
}

.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group{
  position: relative;
  --color: #5757577e;
  text-align: center;
}

.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group .form-input{
  width: 100%;
  background: none;
  padding: .6em .3em;
  font-size: 1rem;
  border: none;
  outline: none; 
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid var(--color);
}

.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group input[type="date"], 
.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group input[type="time"]{
  background: none;
  padding: .6em .3em;
  font-size: 1rem;
  border: none;
  outline: none; 
  font-family: 'Poppins', sans-serif;
  border-bottom: 1px solid var(--color);
}

.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group .form-label{
  color: var(--color);
  cursor: pointer; 
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s;
}

.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group .form-input:focus + .form-label,
.Consultar-entradas .modal-salida .modal-contenedor .form-group .form-input:not(:placeholder-shown) + .form-label{
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
  color: #3866f2;
}

.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-btn{
  background-color: #3866f2;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border:none;
  border-radius: .5em;
  cursor: pointer;
}

.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group .form-line{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s;
}

.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group .form-input:focus ~ .form-line,
.Consultar-entradas .modal-salida .modal-contenedor .form .form-content .form-group .form-input:not(:first-child) ~ .form-line{
  transform: scale(1);
}