.Registrar-usuario .form{
    margin: auto;
    width: 90%;
    max-width: 450px;
    font-family: 'Poppins', sans-serif;
    padding: 4.5em 6em;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px;
    text-align: center;
    }
    
    .Registrar-usuario .form .form-content{
        display: grid;
        gap:2.5em;
        --color: #5757577e;
    }
    
    .Registrar-usuario .form .form-content .form-group-contact{
        display: grid;
        margin-right: 50%;
        grid-template-columns: auto auto;
        column-gap: 60%;
        justify-content: center;
    }
    
    .Registrar-usuario .form .form-content .form-group-contact .form-label > .form-select{
        position: absolute;
        margin-left: 2.5rem;
    }
    
    .form .form-content .form-group-contact{
        position: relative;
        --color: #5757577e;
        justify-content: space-between;
    }
    
    .form .form-content .form-group .form-input{
        margin-left: -5%;
    }
    .form .form-content .form-group .form-input:focus + .form-label,
    .form-group .form-input:not(:placeholder-shown) + .form-label{
        transform: translateY(-12px) scale(.7);
        transform-origin: left top;
        color: #3866f2;
    }

    .form .form-content .form-group .form-label{
        margin-left: -5%;
    }

    .form .form-content .form-group-contact .form-div .form-input{
      width: 80%;
      position: absolute;
      background: none;
      padding: .8em .2em;
      font-size: 1rem;
      border: none;
      outline: none; 
      font-family: 'Poppins', sans-serif;
      border-bottom: 1px solid var(--color);
    }
    
    .form .form-content .form-group-contact .form-div .form-label{
      color: var(--color);
      cursor: pointer; 
      top: 0;
      display: inline-block;
      left: 5px;
      transform: translateY(10px);
      transition: transform .5s, color .3s;
    }
    .form .form-content .form-group-contact .form-div .form-input:focus + .form-label,
    .form .form-content .form-group-contact .form-div .form-input:not(:placeholder-shown) + .form-label{
      transform: translateY(-20px) scale(.7);
      transform-origin: left top;
      color: #3866f2;
    }
    .form .form-content .form-btn{
      background-color: #3866f2;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 1rem;
      padding: .8em 0;
      border:none;
      border-radius: .5em;
      cursor: pointer;
    }
    
    .form .form-content .form-group-contact .form-label.categoria{
      display: flex;
    }
    .form .form-content .form-group-contact .form-label > .form-select{ 
      color: black;
      padding: .5em 1em;
      margin-top: -10%;
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
      border: none;
    }
    .form .form-content .form-group-contact .form-label > .form-select:focus{ 
      border: thin solid blue;
    }
    .form .form-content .form-group-contact .form-label .form-select{ 
      margin-left: 50%;
      margin-bottom: 1em;
    }

    /* INPUT CHECK SWITCH */

    .switch {
        position: absolute;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-left: 5%;
        margin-top: 2%;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      